<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day5/lab4pt1/com/psamp/lab4pt1/IdentityTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.psamp.lab4pt1.IdentityTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day5"/>
</launchConfiguration>
